a {
  margin: 0px;
  padding: 0px;
}
a:hover {
  color: #ff6500;
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, ul li a:hover:after, ul li a:after, ul li a:before, ul li a, ul, nav .logo img, nav, a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pad_100 {
  padding: 100px 0px;
}

.center {
  text-align: center;
  margin: 0px auto;
}

nav {
  width: 100%;
  background-color: #ffcccc;
  padding: 10px 0px;
  position: fixed;
  border-bottom: 1px solid transparent;
  z-index: 100;
}
nav .logo img {
  width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
  text-align: right;
}
ul li {
  display: inline-block;
  padding: 0px 10px;
}
ul li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: rgba(73, 73, 73, 0.5);
}
ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: red;
  height: 1px;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0%;
  background-color: red;
  height: 1px;
}
ul li a:hover {
  text-decoration: none;
  color: #060a0f;
}
ul li a:hover:before {
  width: 0%;
  background-color: #060a0f;
}
ul li a:hover:after {
  width: 100%;
  background-color: #060a0f;
}